* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
}
.product-category {
    text-align: center;
    grid-column: 1 / span 3;
    grid-row: 1    
}
.product-item {
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 20px;
    transition: .25s;    
}

.product-image  img {
    width: 100%;    
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    color: #FFF;
    text-decoration: none;
    background-color: red;
    border-radius: 20px;    
}

.product-list:hover {
    .product-item:not(:hover) {
    opacity: .5;
    transition: .25s;    
    }    
}